/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: FA_TLFKFEYXEJ;
    src: url(fonts/FA_TLFKFEYXEJ.ttf);
}

@font-face {
    font-family: FA_WCAQLHHWSX;
    src: url(fonts/FA_WCAQLHHWSX.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #605e5d;
    color: #fff;
    padding: 0 20px;
}

.socials img,
.login img {
    width: 40px;
    margin-right: 10px;
    filter: invert(100%);
    
}

.logo {
    font-family: "FA_TLFKFEYXEJ", sans-serif;
    font-size: 3rem;
    flex-grow: 1;
    text-align: center;
}

.login {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.logintext {
    font-family: "Roboto", sans-serif;
}

.loginicon img {
    width: 25px;
    margin-right: 5px;
    filter: invert(100%);
}

.opening {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 110vh; /* Adjust the height as needed */
    background-image: url(images/background2.jpg);
    background-size: cover;
}

.introimage {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.overlaytext {
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 120px;
    align-self: center;
    top: 160px;
    left: 0px;
    font-weight: bold;
    font-family: "FA_WCAQLHHWSX", sans-serif;
    animation: intro 1s forwards;
    animation-delay: 3s;
}
.gallery{
    height: 120vh;
    background-image: url(images/scribble.gif);
    background-size: cover;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
  }
  
  .block {
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    margin: 20px;
    border: 2px solid black;
    background-color: white;
  }
  
  .block p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: "Righteous", sans-serif;
    font-size: 20px;
    color: black;
  }

  @keyframes intro{
    0% {opacity: 0;}
    100% {opacity: 100;}
  }