@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');





body {
    margin: 0;
    background-color: #f1f1f1;
  }
  
  #sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #f1f1f1;
    color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid black; /* Add a black line on the right side */
  }
  
  #banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1; /* White background */
    color: #000; /* Black text */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid black; /* Add a black line at the bottom */
    height: 50px;
    line-height: 1.6;
  }

  #banner p {
    margin: 0; /* Reset the margin for the <p> element */
    font-size: 1.5rem; /* Set the desired font size */
  }
  
  #content {
    margin-left: 380px; /* Adjust based on the width of the sidebar */
    padding: 20px;
    box-sizing: border-box;
    margin-top: 60px;
    font-family: 'Urbanist', sans-serif;
    font-size: 5rem;
  }
  